@page "/Banned"

<div class="text-center">
    <h1>Banned</h1>
    <p>
        You have been banned from this site. You cannot use any AI services. 
        We ban users who OpenAI detects as using the API in a way that breaks their TOS. 
        We may also ban users who we believe are abusing the API in any way.
        If you believe this is an error, please email us at <a href="mailto:support@serble.net">support@serble.net</a> and 
        state that you were banned from SerbleAI.
    </p>
</div>

@code {
    
}