@page "/"

<div class="text-center">

  <div class="text-secondary px-4 py-5 text-center" style="background-color: rgba(45,46,54,0.95)">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Serble AI</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">
          Serble AI is a platorm that allows users to explore and interact with AI models.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a type="button" href="/settings" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Configure</a>
          <a type="button" href="https://serble.net" class="btn btn-outline-light btn-lg px-4">Serble</a>
        </div>
      </div>
    </div>
  </div>

</div>

<br/>