@page "/whitelisted"

<div class="text-center">
    <h1>Site Whitelisted</h1>
    <p>
        This site is currently whitelisted. You must be logged into a whitelisted account to access it.
    </p>
</div>

@code {
    
}