<div>
    <div class="text-center col-lg-6 offset-lg-3">
        <h4>Serble AI </h4>
        <p>&copy; 2022-@DateTime.Today.Year &middot; CoPokBl &middot; <a href="/">Serble</a></p>
    </div>
</div>
